lessons/r48-vibecoding-masterclass/assets/unpacked/R48 Resources/n8n templates/Vibecoding webhook - 2 (Nanobanana Pro) _ R48.json
{
  "name": "Vibecoding webhook - 2 (Nanobanana Pro) | R48",
  "nodes": [
    {
      "parameters": {
        "content": "# Nanobanana Pro Webhook \n## (by RoboNuggets)\n### Author: Jay E",
        "height": 368,
        "width": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        -160
      ],
      "id": "38b60d6d-ad7b-4a04-9858-0cfbfdf4df54",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data.downloadUrl"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -864,
        96
      ],
      "id": "7560753b-7a3e-4978-964d-c8ee6122bc5b",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gemini",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1424,
        96
      ],
      "id": "3a3b4e83-57be-4f48-b4e2-19a20b7b19ee",
      "name": "Webhook1",
      "webhookId": "9109dec4-5368-4630-a875-fc86df541031"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook1').item.json.body.email }}",
        "subject": "🚀 Your Prisma Labs ad preview is ready!",
        "message": "=<div style=\"font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.6; color: #333; max-width: 600px; margin: 20px auto; border: 1px solid #e0e0e0; padding: 40px; border-radius: 12px; background-color: #ffffff;\">\n\n  <h2 style=\"color: #1a1a1a; margin-top: 0; font-weight: 700; font-size: 24px; text-align: left;\">\n    Your AI Preview is Ready 🚀\n  </h2>\n\n  <p style=\"color: #555; font-size: 16px; text-align: left; margin-bottom: 30px;\">\n    Great news! We've finished processing your creative request. Your generated image is ready for your review below.\n  </p>\n\n  <a href=\"{{ JSON.parse($json.data.resultJson).resultUrls[0] }}\" target=\"_blank\" style=\"text-decoration: none; display: block; margin: 0 auto 30px auto; text-align: center;\">\n    <img src=\"{{ JSON.parse($json.data.resultJson).resultUrls[0] }}\" alt=\"Ad Preview\" style=\"width: 100%; max-width: 100%; height: auto; border-radius: 8px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);\">\n  </a>\n\n  <div style=\"text-align: center; margin-bottom: 40px;\">\n    <a href=\"{{ JSON.parse($json.data.resultJson).resultUrls[0] }}\" target=\"_blank\" style=\"display: inline-block; padding: 14px 28px; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 6px; font-weight: 600; font-size: 16px; box-shadow: 0 2px 5px rgba(0,123,255,0.3);\">\n      View Full Image\n    </a>\n  </div>\n\n  <div style=\"border-top: 1px solid #eeeeee; padding-top: 30px; text-align: left; color: #999; font-size: 13px;\">\n    <p style=\"margin: 0 0 10px 0; font-weight: 500; color: #555;\">The Prisma Labs Team</p>\n    <p style=\"margin: 0;\">&copy; {{ new Date().getFullYear() }} Prisma Labs. All rights reserved.</p>\n    <p style=\"margin: 5px 0 0 0;\"><a href=\"#\" style=\"color: #999; text-decoration: underline;\">Unsubscribe</a> | <a href=\"#\" style=\"color: #999; text-decoration: underline;\">Privacy Policy</a></p>\n  </div>\n\n</div>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        80,
        32
      ],
      "id": "0f843072-5df0-4435-8084-5d590c0cd242",
      "name": "Send a message",
      "webhookId": "fdea08ba-4c9c-44b7-8473-774acbfbc45a",
      "credentials": {
        "gmailOAuth2": {
          "id": "cqwqufjWdfzaMBSo",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kieai.redpandaai.co/api/file-base64-upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "base64Data",
              "value": "={{ $json.data }}"
            },
            {
              "name": "uploadPath",
              "value": "documents/uploads"
            },
            {
              "name": "fileName",
              "value": "={{ $now }}.jpg"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "id": "0c66dda2-6572-4943-96eb-72015b3195bf",
      "name": "Image URLs1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -976,
        96
      ],
      "typeVersion": 4,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "product_image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1248,
        176
      ],
      "id": "2f625fc4-adba-4908-a032-87b0f7c495b2",
      "name": "Image4"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "character_image",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1248,
        0
      ],
      "id": "0a0bb308-5689-4b52-9ea6-467fc79a4f89",
      "name": "Image"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1088,
        96
      ],
      "id": "086bee23-deb1-40ea-9193-91e0327773b5",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=\n\n{\n  \"model\": \"nano-banana-pro\",\n\"callBackUrl\": \"{{ $execution.resumeUrl }}\",\n  \"input\": {\n    \"prompt\":  {{ JSON.stringify($('Webhook1').item.json.body.details) }},\n  \"aspect_ratio\": \"2:3\",\n  \"resolution\": \"2K\",\n  \"output_format\": \"png\",\n     \"image_input\": [\"{{ $json.downloadUrl[0] }}\",\"{{ $json.downloadUrl[1] }}\"]\n\n  }\n}\n\n",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        96
      ],
      "id": "b6d70758-4a6f-49de-b9aa-a6e25e99866a",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $('Create Image').item.json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -208,
        96
      ],
      "id": "1d633cbd-9712-433e-9ff9-cd74d5c4023b",
      "name": "Get Image",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GY8EwBg1KMzSwh9X",
          "name": "Kie AI Credential"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -320,
        96
      ],
      "id": "eae4787d-d37a-41e0-a922-baa652457ef3",
      "name": "Wait1",
      "webhookId": "67e326b5-b6ce-427f-92f3-865aae07d405"
    },
    {
      "parameters": {
        "content": "# INPUT",
        "height": 192,
        "width": 512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        -64
      ],
      "id": "e5bc7988-e0f6-4de7-abac-067f0cdf6b76",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# OUTPUT",
        "height": 192,
        "width": 480,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -64
      ],
      "id": "a05e295f-f458-45e3-b1b4-7c21d00acd91",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bf05a398-eb00-4e25-8de6-3ae7d10e69dd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4686d0f8-4428-4d81-9c40-c9d56b69ab02",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "ing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "in progress"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -96,
        80
      ],
      "id": "47fa4047-14c5-49e1-a757-1124f0cff782",
      "name": "Switch1"
    },
    {
      "parameters": {
        "errorMessage": "An error occured"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        80,
        176
      ],
      "id": "64aea0dd-b042-4602-bfb0-c59cf331dbd6",
      "name": "Stop and Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Image4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image URLs1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Image URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b53fb567-4643-4c45-8a54-39287e3b3e3e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "addaa68bf5af965c06c3765c811549851eb65db8df4677e0c6253726ffcac493"
  },
  "id": "1J55bGTRFu20HTM1",
  "tags": []
}